$primaryColor: #004987;
$primaryDarkColor: #012d52;
$primaryLightColor: #D7EAF8;
$accentColor: #FF7600;
$accentDarkColor: #df6700;
$accentLightColor: #FFBB00;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';